*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #404040;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: 500;
}



/*--------------- hero ---------------*/

.hero {
  height: 60vh;
  min-height: 400px;
  background: #03a9f4;
  position: relative;
  overflow: hidden;
}

.hero__level {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 150ms linear;
}

.hero__level img {
  width: 100%;
  height: 100%;
}


p {
  margin: 1rem 0 0;
}


/* -----------Content------------ */

.main__content {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin: 1em auto;
  font-size: 18px;
}

.main__content .section {
  padding: 2em 1em;
}

.section h1,
.section h2 {
  margin: 0;
}

.title__heading {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  font-family: 'K2D', sans-serif;
  text-transform: uppercase;
}

.title__description {
  text-align: center;
}

.list-grid ol {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  font-family: 'Mali', cursive;
}

.list-grid a {
  color: inherit;
  text-decoration: none;
}

.list-grid a:hover,
.list-grid a:active {
  text-decoration: underline;
}



/* ---------Footer-------- */

.page__footer {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #404040;
  justify-content: center;
}

.footer-content {
  display: grid;
  width: 100%;
  max-width: 40em;
  padding: 1.5em 2em;
  border-top: 1px solid #cccccc;
  grid-template-columns: 1fr 1fr 1fr;
}

.page__footer ul,
.page__footer p {
  margin: 0;
  list-style: none;
  padding: 0;
}

footer a {
  text-decoration: none;
}

footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: underline;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus,
footer a:visited {
  color: inherit;
  font-size: 0.8em;
}

.footer-col {
  margin: 1em 0;
}

@media only screen and (max-width: 26.2em) {
  .hero {
    height: auto;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }
}
